/*web page uses mainly color scheme of #c0dfd9, #e9ece5, #b3c2bf, #3b3a36*/
body
{	
	background-color: #e9ece5;
	margin: 3% 10% 2% 10%;
}
.topimg
{
	width: 100%;
	height: 100%
}
.topnav
{
	background-color: #3b3a36;
	overflow: hidden;
}
.topnav a /*style the top navigation links*/
{
	float: left;
	display: block;
	color: #b3c2bf;
	text-align: center;
	padding: 10px 12px;
	font-size: 20px;
}
.topnav a:hover /*change colour of links when on hover*/
{
	background-color: #c0dfd9;
	color: #3b3a36;	
}
/*ul includes links that make up the side navigation bar*/
ul
{
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	width: 180px;
	background-color: #b3c2bf;
}
/*Style the side navigation links*/
li a
{
	display: block;
	color: #3b3a36;
	padding: 6px 6px;
	text-decoration: none;
	font-size: 18px
}
/* Change color of link when on hover*/
li a:hover
{
	background-color: #3b3a36;
	color: #b3c2bf;
}
/*Give introduction a different background color*/
div.introduction
{
	background-color: #c0dfd9;
	margin: 3% 12% 10% 10%;
}	
/*home page introduction has different heading and paragraph declarations than other headings and paragraphs*/
#introh 
{	
	font-size: 50px;
	color: white;
	background-color: #c0dfd9;
	margin: 0%;
}
#introp
{
	color: #3b3a36;
	font-size: 15px;
	font-size: 16px;
	border: 2px solid #b3c2bf;
	padding: 15px;
	margin: 0% 3% 3% 3%;
	text-indent: 40px;
}	
/*all text is in Georgia font*/
h1, h2, h3, h4, h5, h6, p{
	font-family: "Georgia", serif;
	
}
h1
{
	font-size: 50px;
	color: #c0dfd9;
	background-color: #3b3a36;
	margin-left: 15%;
}
p
{
	margin-left: 20%;
	text-indent: 40px;
}
.firstp /*first paragraph has smaller left margin than other paragraphs*/
{
	margin-left: 17%;
}
/*all headings in home page have increased margin*/
.homeh 
{
	margin-left: 11%;
}
#homeh2 /*home heading 2 is styled like heading 1 on other pages*/
{
	font-size: 35px;
	color: #e9ece5;
	background-color: #3b3a36;
	border: none;
}
/*Format all headings except h1*/
h2, h3, h4, h5, h6
{
	font-size: 25px;
	color: #3b3a36;
	border: 2px solid #b3c2bf;
	margin-left: 17%;
}
/*home page paragraphs have different margin*/
.homep
{
	margin-left: 12%;
}
/*Determine the margin of the gallery*/
div.wholegallery
{
	margin-left: 20%;
}
/*Style each image+description in the gallery*/
div.gallery
{
	border: 2px solid #b3c2bf;
	background-color: #c0dfd9;
	float: left;
	margin: 10px;
	width: 400px;
}
/*style each image description*/
div.imgdesc
{
	font-family: "Georgia", serif;
	color: #3b3a36;
	text-align: center;
	padding: 10px;
}
div.backtotop
{
	clear: left;
}
/*style images on history and development page*/
div.handdimages
{
	margin: 0% auto;
	width: 450px;
	border: 2px solid #b3c2bf;
	background-color: #3b3a36
}
div.imgdesc2
{
	font-family: "Georgia", serif;
	color: #c0dfd9;
	text-align: center;
	text-decoration: underline;
	padding: 5px;
}
/*style margin of the images depicting art media*/
div.mediaimg 
{
	margin-left: 25%;
	display: block;
}